html {
  height: 100%; }

body {
  background-color: #333;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0; }

.click-area {
  width: 410px;
  height: 410px;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 50%;
  margin-left: -205px;
  color: #dedede;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 0 #000,0 1px #000,-1px 0 #000,0 -1px #000;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  .click-area .message {
    display: block;
    position: relative;
    top: 205px;
    margin-top: -1em; }

canvas {
  border: solid 1px #dedede;
  display: block;
  height: 100%;
  margin: 0 auto; }

.keys {
  position: absolute;
  bottom: 1em;
  left: 50%;
  text-align: center;
  font-size: 10px;
  width: 17.4em;
  margin-left: -8.7em; }
  .keys:hover .key {
    background-color: rgba(255, 255, 255, 0.3); }
  .keys .key {
    margin: 0.4em 0.4em;
    display: inline-block;
    line-height: 2.5em;
    width: 5em;
    border-radius: 0.4em;
    background-color: rgba(255, 255, 255, 0.15); }
    .keys .key.up {
      margin: 0 5em 0.8em; }
    .keys .key:hover, .keys .key.is-down {
      background-color: rgba(39, 212, 156, 0.7);
      color: white; }
