$key: 5em;
$margin: 0.4em;

html {
  height: 100%;
}

body {
  background-color: #333;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
}


.click-area {
  width: 410px;
  height: 410px;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 50%;
  margin-left: -205px;
  color: #dedede;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 0 #000,0 1px #000,-1px 0 #000,0 -1px #000;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  .message {
    display: block;
    position: relative;
    top: 205px;
    margin-top: -1em;
  }
}

canvas {
  border: solid 1px #dedede;
  display: block;
  height: 100%;
  margin: 0 auto;
}

.keys {
  position: absolute;
  bottom: 1em;
  left: 50%;
  text-align: center;
  font-size: 10px;
  width: $key * 3 + $margin * 6;
  margin-left: ($key * 3 + $margin * 6) / -2;
  &:hover {
    .key {
      background-color: rgba(white, 0.3);
    }
  }
  .key {
    margin:  $margin $margin;
    display: inline-block;
    line-height: $key / 2;
    width: $key;
    border-radius: 0.4em;
    background-color: rgba(white, 0.15);
    &.up {
      margin: 0 $key $margin * 2;
    }
    &:hover,
    &.is-down {
      background-color: rgba(#27d49c, 0.7);
      color: white;
    }
  }
}